APP_ENV=local
APP_DEBUG=false
APP_KEY=
APP_TIMEZONE=UTC

CACHE_DRIVER=file
QUEUE_DRIVER=sync


## RECALBOY CONFIG (delay: 10000 = 10 seconds)##
REFRESH_AUTO=1
REFRESH_DELAY=10000
## Theme classic, mini, or micro (320x240 screens, landscape)
THEME=classic


## RECALBOX CONFIG ##
RECALBOX_IP=192.168.1.X
RECALBOX_LOGIN=root
RECALBOX_PASS=recalboxroot
RECALBOX_ROMS_PATH=/recalbox/share/roms
## OPTIONAL - SSH OPTIONS
RECALBOX_KEY=
RECALBOX_KEYTEXT=
RECALBOX_KEYPHRASE=
RECALBOX_AGENT=
RECALBOX_TIMEOUT=10


## DEMO MODE ##
DEMO_SYSTEMS=mame

# Sound volume during demo mode. Default: 0 (off)  #
DEMO_VOLDOWN=0
DEMO_VOLUP=80

# Demo duration, in seconds. After this delay, a new game will be randomly launched. Default: 300 (5 min) #
DEMO_DURATION=300


## CONFIG UPLOAD SCREENSHOTS ##
## AVAILABLE METHODS : 
## s3 (not tested, built-in function)
## dropbox (done but not tested, impossible on my Pi Zero: dropbox sdk requires 64bits php integer) ##
## google (Google Drive, get your ids : https://gist.github.com/ivanvermeyen/cc7c59c185daad9d4e7cb8c661d7b89b)
## 1 to activate, 0 to turn off upload function

UPLOAD_SCREENSHOTS=0
UPLOAD_METHOD=google

RECALBOX_SCREENSHOTS_PATH=/recalbox/share/screenshots
REMOTE_PATH=/Recalbox/screenshots

DROPBOX_KEY=
DROPBOX_SECRET=

GOOGLE_CLIENTID=
GOOGLE_SECRET=
GOOGLE_REFRESH=
GOOGLE_FOLDERID=

AWS_KEY=
AWS_SECRET=
AWS_REGION=
AWS_BUCKET=