.material-icons {
  font-size:100px;
  line-height: inherit;  
  display: inline-block;
  cursor: pointer;
  width: 160px;
  max-height: 150px; 
}

@media (max-width: 381px) {
    .pas, .mam {
        margin: -2px;
        padding: 0;
    }
}